<div class = "main-page">
	<div class = "search-form">
		<%= form_tag  find_album_path, :method => :post  do %>
			<%= text_field_tag :album_name %>
			<%= submit_tag "Submit",:class=>'btn btn-primary'%>
		<%end%>
	</div>
	<div class = "search-album-url">
		<%= link_to "Create/List Album", albums_path,:class=>'btn btn-primary', :id => "search-submit" %><br>
	</div>
</div>
<div style = "margin-left:70px">
	<% @images.each do |image|%>
		<div class= "last_images" style = "float: left;width: 16%;">
			<%= image_tag image.photo.url(:thumb), :width => "150px", :height => "100px" %>
			<h3><%= image.user.username %></h3>
		</div>
	<%end%>
</div>