<!DOCTYPE html>
<html>
<head>
  <title>ImageShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    <div class = "after-signin">
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete,:class=>'btn btn-primary' %>
      <%= link_to "Home", root_url,:class=>'btn btn-primary'%>
    </div>
  <% else %>
    <div class = "before-signin">
      <%= link_to "Sign up", new_user_registration_path,:class=>'btn btn-primary' %> or
      <%= link_to "Sign in", new_user_session_path,:class=>'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>

</body>
</html>
